<!-- 
  Execution       :   1. default node         cmd> login.component.html
 
   Purpose         : To login your Fundoo Notes Admin Account  
  
   @file           : login.component.html
   @author         : Snehal Patil
   @version        : 1.0
   @since          : 22-04-2019
  -->
<div class="container my-5" >
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
       <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
          <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center my-4">FundooNotesAdmin</h4>
          <h3 class="card-subtitle mb-2 text-center my-3">Sign in</h3>
          <h5 class="card-text text-center my-3">to continue to FundooNotes</h5>
          <form name='loginForm' action="/cms/login">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control input" id=email required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control input" id=password required>
            </div>
            <div class="btn">
            <button type=submit class="btn btn-primary">Login</button>
          </div>
          </form>
          <p></p>
          <i><h5 class=error></h5></i>
        </div>
        </div>
      </div> 
  
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
    </div>
  </div>